extend layout

block header
  header
    .row
      .col-md-1
      .col-md-10
        p. 
          ... todo

block content
  content
    .row
      .col-md-1
      .col-md-10    
        .main-content        