/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
html,
body {
  font-family: 'Georgia';
  background-color: #3f3f3f;
  color: #aaa;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  font-family: 'Quicksand';
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #3f3f3f;
  text-shadow: 0px -1px 0px #2c2c2c;
}
header #signupBtn {
  float: right;
}
.main-content {
  height: 100%;
}
.main-content p {
  margin-bottom: 20px;
}
.jumbotron {
  background-color: #3f3f3f;
}
.loginWidget {
  font-family: 'Quicksand';
  padding: 2px 30px;
  height: 45px;
/*
   * Note the lack of vendor
   * prefixes here. Nib will
   * add them for us
   */
  background-color: #3f3f3f;
  border-bottom: 1px solid #797979;
}
.loginWidget p {
  padding: 5px 0px;
  float: left;
}
.loginWidget .login {
  height: 95%;
  padding: 1px 0px;
  float: right;
}
.loginWidget label {
  padding: 5px 5px;
  border: 1px solid #3f3f3f;
}
.loginWidget label input {
  margin: 0px 3px;
  padding: 5px 5px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #3f3f3f;
  color: #fff;
}
p {
  line-height: 1.8;
}
.container-fluid {
  min-height: 100%;
}
.main-content {
  padding: 10px;
  padding-bottom: 80px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 20px 0px;
  font-size: 13px;
}
footer p#footmenu {
  position: relative;
  float: left;
}
footer p#copy {
  position: relative;
  float: right;
}
